@media (min-width: 800px) {

    body {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        background-color: #3d405b;
    }

    main {
        position: relative;
    }

    .weatherSummary {
        position: absolute;
        top: 115px;
        left: 80px;
        max-width: 25%;
        border-radius: 10px;
        box-shadow: 0 0 10px #111;
        color: white;
        padding: 10px;
        background-color: #e07a5f;
        font-size: .9rem;
    }

    .indexImages {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
    }

    .indexImages div:hover {
        box-shadow: 0 0 50px #333;
    }

    .localCompanies {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        max-width: none;
    }

    .localCompanies h3 {
        grid-column: 1/4;
    }

    .cityEvents {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        padding: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #eventLeft {
        grid-column: 1/2;
    }

    #eventRight {
        grid-column: 2/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #eventRight h3 {
        grid-column: 1/3;
    }

    #contactInfo {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    
}