body {
    font-family: 'Montserrat', 'sans-serif';
}

#banner {
    padding: 15px;
    background-color: #81b29a;
}

header {
    background-color: white;
    display: flex;
    align-items: center;
}

.headings {
    display: flex;
    flex-direction: column;
}

.m {
    font-style: italic;
    letter-spacing: 1pt;
    color: #e07a5f;
    font-size: .9rem;
}

.wayfinder {
    font-style: oblique;
    font-weight: bolder;
    border-bottom: 1px solid #e07a5f;
}

.topnav {
    overflow: hidden;
    background-color: #81b29a;
    position: relative;
    padding: 10px;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    text-decoration: none;
    font-variant: small-caps;
    font-size: 1.1rem;
    display: block;
}

.topnav a.icon {
    background-color: #81b29a;
    display: block;
    position: relative;
    padding-left: 5px;

}

#myLinks li {
    list-style-type: none;
}

main {
    background-color: white;
    padding: 15px;
}

main h2 {
    text-align: center;
    margin: 0;
    padding: 20px;
}

#special {
    text-align: center;
    margin: 0;
    padding: 20px;
    color: black;
    text-decoration-line: underline;
    text-decoration-style: double;
}

picture img {
    max-width: 95%;
    display: block;
    margin: 0 auto;
}

.weatherSummary {
    background-color: #e07a5f;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.weatherSummary h3 {
    border-bottom: 1px solid white;
}

.threeDayForecast h3 {
    text-align: center;
    color: black;
    text-decoration-line: underline;
    text-decoration-style: double;
}


table, th, td {
    border: 1px solid #e07a5f;
    border-collapse: collapse;
    padding: 1%;
    text-align: center;
    margin: auto;
}

.aboutUs {
    padding: 15px;
}

.aboutUs h3 {
    color: black;
    text-decoration-line: underline;
    text-decoration-style: double;
}

picture img[data-src] {
    filter: blur(0.2rem);
}

picture img {
    filter: blur(0rem);
    transition: filter 0.5s;
}

.indexImages div {
    max-width: 285px;
    padding: 15px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #bfbfbf;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.indexImages div h3 {
    text-align: center;
    font-style: italic;
}

.localCompanies {
    background-color: white;
    color: black;
    padding: 15px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
}

.localCompanies h3 {
    text-decoration-line: underline;
    text-decoration-style: double;
}

.callToAction {
    background-color: #81b29a;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.callToAction a {
    color:#e07a5f;
}

.callToAction a:hover {
    color: lightgray;
}

.upcomingEvents {
    padding: 15px;
}

.upcomingEvents h3 {
    text-decoration-line: underline;
    text-decoration-style: double;
}

.fa {
    padding: 10px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-instagram, .fa-facebook, .fa-youtube {
    background: #3d405b;
    color: white;
}

.contactUs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.contactUs h3 {
    grid-column: 1/3;
    text-align: center;
    color: black;
    text-decoration-line: underline;
    text-decoration-style: double;
}

#eventLeft {
    margin: 0 auto;
}

#eventLeft img {
    border: 1px solid black;
}

#eventRight h3 {
    text-align: center;
    color: black;
    text-decoration-line: underline;
    text-decoration-style: double;
}

#eventRight h4 {
    color: #e07a5f;
}

form {
    margin-top: 30px;
    font-size: 20px;
}


form input.submitBtn {
    border: none;
    background-color: #81b29a;
    color: white;
    border-radius: 5px;
    padding: .45rem;
    margin-top: 15px;
}

form legend {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1.5px;
    padding: 5px;
    color: #e07a5f;
}

form fieldset {
    border: 3px double #e07a5f;
    padding: 15px;
}

label input {
    margin: 0 15px 15px 15px;
}

.lcolumn {
    grid-column: 1/2;
    text-align: center;
}

.rcolumn {
    grid-column: 2/3;
    text-align: center;
}

footer {
    background-color: #e07a5f;
    color: white;
    padding: 15px;
    text-align: center;
}