@media (min-width: 1000px) {

    h2 {
        font-size: 2rem;
        text-align: left;
    }


    body {
        max-width: 960px;
        margin: 0 auto;
        background-color: #A69888;
    }

    main {
        max-width: 960px;
        margin: 0 auto;
        text-align: center;
        position: relative;
    }


   
    /*old styles below*/
   
    .cards {
        max-width: 960px;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
   }

   .cards section {
       display: grid;
       margin: 0 auto;
       padding: 0;
   }

   .Fish.Haven {
       grid-column: 1/2;
       grid-row: 1/2;
   }

   .Preston {
       grid-column: 2/3;
       grid-row: 1/2
   }

   .Soda.Springs {
       grid-column: 3/4;
       grid-row: 1/2;
   }

}