@media (min-width: 643px) {

    .navigation li:first-child {
        display: none;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
    }

    main {
        text-align: center;
        max-width: 960px;
        margin: 0 auto;
    }
    
    .contactUs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    .rcolumn {
        grid-column: 2/3;
    }

    .lcolumn {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .lcolumn img {
        max-width: 85%;
    }

    /*old styles below*/
    

    .cards section {
        display: flex;
        flex-direction: row;
    }

    .cards section:nth-child(odd) {
        flex-direction:row-reverse
    }

    section img {
        margin: 0 auto;
    }

    section div {
        margin: 0 auto;
    }
    
}