body {
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
}

#banner {
    background-color: gold;
    padding: 5px;
    text-align: center;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	background-color: white;
}

header img {
	width: 300px;
}

header h1, header h3 {
	margin: 0;
	color: black;
}

.motto {
	font-style: italic;
}

.navigation {
	overflow: hidden;
	display: block;
	color: whitesmoke;
	background-color: #3E000C;
    list-style: none;
    padding: 0;
    font-size: 1.1em;
	margin: auto;
	text-align: center;
}

.navigation a {
	background-color: #3E000C;
	text-align: center;
	display: block;
	padding: 0.8rem 2%;
	text-decoration: none;
	color: whitesmoke;
	border-top: 1px solid black;
}

.navigation li {
	display: none;
}

ul.navigation.responsive li {
    display: block;
}
.navigation li:first-child {
    display: block;
}

nav ul li a:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

nav .active {
	font-style: italic;
	border: 1px solid whitesmoke;
}

nav {
	font-variant: small-caps;
	margin: 0 auto;
	display: block;
}

main {
	background-color: white;
	padding: 15px;
}

#contact {
    font-size: 2.5rem;
    text-align: center;
}

.fa {
	padding: 20px;
	font-size: 50px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

.fa-instagram {
	background: #456990;
	color: white;
}

.fa-facebook {
	background: #456990;
	color: white;
}

.fa-youtube {
	background: #456990;
	color: white;
}

.contactUs {
    text-align: center;
}

.contactUs img {
	max-width: 60%;
}

footer {
  color: whitesmoke;
  background-color: #3E000C;
  text-align: center;
  padding: 15px;
}


/* old styles below */

    picture img {
        display: block;
        margin: 0 auto;
        max-width: 95%;
    }

    h2 {
        text-align: center;
    }

    

    .cards img {
        max-width: 300px;
        border: 1px solid black;
    }

    .Fish.Haven, .Preston, .Soda.Springs{
        padding: 10px;
    }

    .Fish.Haven h2 {
        margin-bottom: 0;
        text-align: center;
    }

    .Preston h2 {
        margin-bottom: 0;
        text-align: center;
    }

    .Soda.Springs h2 {
        margin-bottom: 0;
        text-align: center;
    }

    .cards section {
        border-radius: 15px;
        margin: 5px;
        padding: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    section div p {
        font-style: italic;
    }

    
    .contactUs img {
        max-width: 35%;
    }

    
    
