body{
    max-width: 400px;
    margin: auto;
}
table, th, td {
    border: 1px solid lightgray;
    border-collapse: collapse;
    text-align: center;
    padding: 8px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    line-height: 1.3;
  }
  table {
    width: 100%;
    box-shadow: 15px 15px 15px #628ca6;
  }
  .white{
    color: white;
    background-color: #628ca6;
}
  thead tr{
    background-color: #7fb9c2;
  }
  tr{
    background-color: #e7ffed;
  }
  
  tr th{
      font-size: 24px;
      line-height: 1.5;
  }
  thead tr th{
      font-size: 38px;
      line-height: 1.4;
  }
  th{
    font-weight: bold;
  }
  
  tfoot tr td{
      font-size: 16px;
      line-height: 1.5;
      background-color: #7fb9c2;
  }
  tr:nth-child(6) td:nth-child(1) {
    font-style: italic;
}

tr:nth-child(even) {
    background-color: #e7f0ed;
  }
