@media (min-width: 593px) {

    body {
        font-family: 'Oswald', sans-serif;
    }
    
    header {
        background-color: lightgreen;
        padding: 5px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    header img {
        width: 80px;
        height: auto;
    }
    
    .headings {
        display: flex;
        flex-direction: column;
    }
    
    .headings h1 {
        font-size: 1.6rem;
        margin: 0 0 0 17px;
    }
    
    .m {
        font-style: italic;
        letter-spacing: 1pt;
        color: forestgreen;
        margin-left: 20px;
        font-size: .9rem;
    }
    
    #myLinks li {
        list-style-type: none;

    }

    #myLinks a {
        background-color: black;
        font-size: 1rem;
        align-content: center;
    }

    .topnav #myLinks {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
        margin: 0;
    }

    ul {
        padding-inline-start: 0;
    }

    .topnav a {
        padding: 10px;
    }

    
    .topnav a.icon {
        display: none;
        
    }
    
    .topnav a:hover {
        background-color: #ddd;
        color:black;
    }
    
    h2 {
        font-size: 1.8rem;
        text-align: center;
    }
    
    footer {
        background-color: forestgreen;
        color: white;
        padding: 5px;
    }
    
    footer p {
        font-size: 1rem;
        text-align: center;
    }

}