

    body {
        font-family: 'Oswald', sans-serif;
    }

    header {
        background-color: lightgreen;
        padding: 5px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header img {
        width: 80px;
        height: auto;
    }

    .headings {
        display: flex;
        flex-direction: column;
    }

    .headings h1 {
        font-size: 1.6rem;
        margin: 0 0 0 17px;
    }

    .m {
        font-style: italic;
        letter-spacing: 1pt;
        color: forestgreen;
        margin-left: 20px;
        font-size: .9rem;
    }

    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }

    .topnav #myLinks {
        display: none;
    }

    #myLinks li {
        list-style-type: none;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.1rem;
        display: block;
    }

    .topnav a.icon {
        background-color: black;
        display: block;
        position: relative;
        
    }

    .topnav a:hover {
        background-color: #ddd;
        color:black;
    }

    h2 {
        text-align: center;
    }

    footer {
        background-color: forestgreen;
        color: white;
    }

    footer img {
        max-width: 50%;
    }

    footer p {
        font-size: 0.7rem;
        text-align: center;
    }
