@media (min-width: 643px) {

    body {
        font-family: 'Oswald', sans-serif;
    }

    #banner {
        background-color: gold;
        padding: 5px;
        text-align: center;

    }
    
    header img {
        width: 80px;
        height: auto;
    }
    
    .headings {
        display: flex;
        flex-direction: column;
    }
    
    .headings h1 {
        font-size: 1.6rem;
        margin: 0 0 0 17px;
    }
    
    .m {
        font-style: italic;
        letter-spacing: 1pt;
        color: whitesmoke;
        margin-left: 20px;
        font-size: .9rem;
    }

    main {
        text-align: center;
    }
    
    h2 {
        font-size: 1.8rem;
        text-align: center;
    }

    .articleInfo img {
        float: right;
        max-width: 50%;
        margin: 7px;
    }
    
    footer {
        color: white;
        padding: 5px;
    }
    
    footer p {
        font-size: 1rem;
        text-align: center;
    }

     /* We want the navbar, main-nav and <ul> to have flex */
  .navbar,
  .main-nav,
  .main-nav ul {
    display: flex;
  }
  .main-nav a {
    color: #3E000C;
  }

  .main-nav {
    width: 100%;
    max-height: none;
    background-color: #f4f4f4;

  /* This puts the two <ul> to either side of their container */
    justify-content: space-between;
  }

  .logo {
      font-size: 1rem;
  }

  .logo img {
      display: none;
  }

  

}