@media (min-width: 643px) {
    
    .navigation li:first-child {
        display: none;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
    }

    main {
        text-align: center;
    }
    
    h2 {
        font-size: 1.8rem;
        text-align: center;
    }

    .articleInfo img {
        float: right;
        max-width: 50%;
        margin: 7px;
    }
    
    footer {
        color: white;
        padding: 5px;
    }
    
    footer p {
        font-size: 1rem;
        text-align: center;
    }
}