body {
	font-family: 'Oswald', sans-serif;
}

#banner {
    background-color: gold;
    padding: 5px;
    text-align: center;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #456990;
	padding: 1rem;
}

header h1, header h3 {
	margin: 0;
	color: whitesmoke;
}

.motto {
	font-style: italic;
}

.navigation {
	overflow: hidden;
	display: block;
	color: whitesmoke;
	background-color: #3E000C;
    list-style: none;
    padding: 0;
    font-size: 1.1em;
	margin: auto;
	text-align: center;
}

.navigation a {
	background-color: #3E000C;
	text-align: center;
	display: block;
	padding: 0.8rem 2%;
	text-decoration: none;
	color: whitesmoke;
	border-top: 1px solid black;
}

.navigation li {
	display: none;
}

ul.navigation.responsive li {
    display: block;
}
.navigation li:first-child {
    display: block;
}

nav ul li a:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

nav .active {
	font-style: italic;
	border: 1px solid whitesmoke;
}

nav {
	margin: 0 auto;
	display: block;
}

picture img {
	display: block;
	margin: 0 auto;
	max-width: 95%;
}

h2 {
	text-align: center;
}

.weatherSummary {
	position: relative;
	top: 250px;
	left: 25px;
	max-width: 25%;
	border-radius: 10px;
	box-shadow: 0 0 10px #111;
	color: whitesmoke;
	padding: 10px;
	background-color: #456990;
}

.weatherSummary p {
	margin: 2px;
	font-size: 9pt;;
}

.hero {
	display: block;
	margin: 0 auto;
	max-width: 95%;
	max-height: 80%;
}

.fiveDayForecast h3 {
	font-size: 2.5rem;
	text-align: center;
	margin: 15px;
}

.fiveDayForecast {
	/*background-color: #456990;*/
	border-radius: 15px;
	padding: 10px;
	margin-top: 100px;
	margin-bottom: 10px;
}

table, th, td {
	border: 1px solid #3E000C;
	border-radius: 10px;
	border-collapse: collapse;
	padding: 1%;
	text-align: center;
	margin: auto;
}

.events {
	background-color: #456990;
	border-radius: 15px;
	padding: 10px;
}

.events h2 {
	border-bottom: 2px solid #3E000C;
	padding: 10px;
}

.articleInfo {
	border-radius: 15px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;

}

.articleInfo h4 {
	font-size: 2rem;
}

.articleInfo img {
	display: block;
	margin: 0 auto;
	max-width: 75%;
}

#contact {
	font-size: 2.5rem;
}

.fa {
	padding: 20px;
	font-size: 50px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

.fa-instagram {
	background: #334E58;
	color: white;
}

.fa-facebook {
	background: #334E58;
	color: white;
}

.fa-youtube {
	background: #334E58;
	color: white;
}

.contactUs img {
	max-width: 35%;
}

footer {
  color: whitesmoke;
  background-color: #A69888;
  text-align: center;
  padding: 1rem;
}