@media (min-width: 643px) {

    h2 {
        font-size: 1.8rem;
        text-align: left;
        padding: 15px;
    }

    .imageGallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
    }

    main {
        text-align: center;
        max-width: 960px;
        margin: 0 auto;
    }

    .articleInfo img {
        float: right;
        max-width: 50%;
        margin: 7px;
    }
    
    .contactUs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    .rcolumn {
        grid-column: 2/3;
    }

    .lcolumn {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .lcolumn img {
        max-width: 85%;
    }

    footer {
        color: white;
    }
    
    footer p {
        font-size: 1rem;
        text-align: center;
    }
}