h2 {
    text-align: left;
}

.imageGallery {
    padding:15px;
}

.imageGallery div {
    padding: 15px;
    margin-top: 30px;
    border: 1px solid #bfbfbf;
    box-shadow: 10px 10px 5px #aaaaaa;
}

div h3 {
    font-style: italic;
    text-align: left;
}

picture img[data-src] {
    filter: blur(0.2rem);
}

picture img {
    filter: blur(0rem);
    transition: filter 0.5s;
}

body {
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
}

#banner {
    background-color: gold;
    padding: 5px;
    text-align: center;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	background-color: white;
}

header img {
	width: 300px;
}

header h1, header h3 {
	margin: 0;
	color:rgb(76, 77, 65);
}

.motto {
	font-style: italic;
}

.navigation {
	overflow: hidden;
	display: block;
	color: whitesmoke;
	background-color: #3E000C;
    list-style: none;
    padding: 0;
    font-size: 1.1em;
	margin: auto;
	text-align: center;
}

.navigation a {
	background-color: #3E000C;
	text-align: center;
	display: block;
	padding: 0.8rem 2%;
	text-decoration: none;
	color: whitesmoke;
	border-top: 1px solid black;
}

.navigation li {
	display: none;
}

ul.navigation.responsive li {
    display: block;
}
.navigation li:first-child {
    display: block;
}

nav ul li a:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

nav .active {
	font-style: italic;
	border: 1px solid whitesmoke;
}

nav {
	font-variant: small-caps;
	margin: 0 auto;
	display: block;
}

main {
	background-color: white;
	padding: 15px;
}

picture img {
	display: block;
	margin: 0 auto;
	max-width: 95%;
}

picture {
	margin: 15px;
}

h2 {
	text-align: center;
}

.articleInfo {
	border-radius: 15px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;

}

.articleInfo h4 {
	font-size: 2rem;
}

.articleInfo img {
	display: block;
	margin: 0 auto;
	max-width: 75%;
}

#contact {
	font-size: 2.5rem;
    text-align: center;
}

.fa {
	padding: 20px;
	font-size: 50px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

.fa-instagram {
	background: #456990;
	color: white;
}

.fa-facebook {
	background: #456990;
	color: white;
}

.fa-youtube {
	background: #456990;
	color: white;
}

.contactUs img {
	max-width: 50%;
}

.contactUs {
    text-align: center;
}

footer {
  color: whitesmoke;
  background-color: #3E000C;
  text-align: center;
  padding: 15px;
}
