

    body {
        font-family: 'Oswald', sans-serif;
        font-display: swap;
    }

    #banner {
        background-color: gold;
        padding: 5px;
        text-align: center;
    }

    header {
        background-color: forestgreen;
        padding: 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header img {
        width: 80px;
        height: auto;
    }

    .headings {
        display: flex;
        flex-direction: column;
    }

    .headings h1 {
        font-size: 1.6rem;
        margin: 0 0 0 17px;
    }

    .m {
        font-style: italic;
        letter-spacing: 1pt;
        color: whitesmoke;
        margin-left: 20px;
        font-size: .9rem;
    }

    .wayfinder {
        border: 1px solid goldenrod;
        font-style: italic;
    }

    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }

    .topnav #myLinks {
        display: none;
    }

    #myLinks li {
        list-style-type: none;
    }

    .topnav a {
        color: white;
        padding: 10px 7px;
        text-decoration: none;
        font-size: 1.1rem;
        display: block;
    }

    .topnav a.icon {
        background-color: black;
        display: block;
        position: relative;
        
    }

    .topnav a:hover {
        background-color: black;
        color:forestgreen;
    }

    main {
        text-align: center;
    }

    picture img {
        display: block;
        margin: 0 auto;
        max-width: 95%;
    }

    h2 {
        text-align: center;
    }

    .weatherSummary {
        position: absolute;
        top: 250px;
        left: 25px;
        max-width: 25%;
        border-radius: 10px;
        box-shadow: 0 0 10px #111;
        color: black;
        padding: 10px;
        background-color: lightgray;
        

    }

    .weatherSummary p {
        margin: 2px;
        font-size: 9pt;;
    }

    .hero {
        display: block;
        margin: 0 auto;
        max-width: 95%;
        max-height: 80%;
    }

    .fiveDayForecast h3 {
        font-size: 2.5rem;
        text-align: center;
        margin: 15px;
    }

    .fiveDayForecast {
        background-color: lightgray;
        border-radius: 15px;
        padding: 10px;
        margin-top: 100px;
        margin-bottom: 10px;
    }

    table, th, td {
        border: 3px solid forestgreen;
        border-radius: 10px;
        border-collapse: collapse;
        padding: 1%;
        text-align: center;
        margin: auto;
    }

    .events {
        background-color: lightgray;
        border-radius: 15px;
        padding: 10px;
    }

    .events h2 {
        border-bottom: 2px solid goldenrod;
        padding: 10px;
    }

    .articleInfo {
        background-color: lightgrey;
        border-radius: 15px;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    .articleInfo h4 {
        font-size: 2rem;
    }

    .articleInfo img {
        display: block;
        margin: 0 auto;
        max-width: 75%;
    }



    .fa {
        padding: 20px;
        font-size: 50px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
    }

    .fa-instagram {
        background: #125688;
        color: white;
    }

    .fa-facebook {
        background: #125688;
        color: white;
    }

    .fa-youtube {
        background: #125688;
        color: white;
    }

    .contactUs img {
        max-width: 35%;
    }

    footer {
        background-color: forestgreen;
        color: white;
        padding: 2px;
    }

    footer p {
        font-size: 0.7rem;
        text-align: center;
    }
