@media (min-width: 643px) {

    

    #banner {
        background-color: gold;
        padding: 5px;
        text-align: center;

    }
    
    header img {
        width: 80px;
        height: auto;
    }
    
    .headings {
        display: flex;
        flex-direction: column;
    }
    
    .headings h1 {
        font-size: 1.6rem;
        margin: 0 0 0 17px;
    }
    
    
    #myLinks li {
        list-style-type: none;

    }

    #myLinks a {
        background-color: #6B6D76;
        font-size: 1rem;
        align-content: center;
    }

    .topnav #myLinks {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
        margin: 0;
        padding: 0px;
    }

    .topnav a {
        padding: 10px;
    }

    
    .topnav a.icon {
        display: none;
        
    }


    main {
        text-align: center;
    }
    
    h2 {
        font-size: 1.8rem;
        text-align: center;
    }

    .weatherSummary {
        position: absolute;
        top: 230px;
        left: 25px;
        max-width: 25%;
        border-radius: 10px;
        box-shadow: 0 0 10px #111;
        color: black;
        padding: 10px;
    }

    .weatherSummary p {
        margin: 2px;
    }

    .articleInfo img {
        float: right;
        max-width: 50%;
        margin: 7px;
    }
    
    footer {
        padding: 5px;
    }
    
    footer p {
        font-size: 1rem;
        text-align: center;
    }

}