body {
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
}

#banner {
    background-color: gold;
    padding: 5px;
    text-align: center;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	background-color: white;
}

header img {
	width: 300px;
}

header h1, header h3 {
	margin: 0;
	color:rgb(76, 77, 65);
}

.motto {
	font-style: italic;
}

.navigation {
	overflow: hidden;
	display: block;
	color: whitesmoke;
	background-color: #3E000C;
    list-style: none;
    padding: 0;
    font-size: 1.1em;
	margin: auto;
	text-align: center;
}

.navigation a {
	background-color: #3E000C;
	text-align: center;
	display: block;
	padding: 0.8rem 2%;
	text-decoration: none;
	color: whitesmoke;
	border-top: 1px solid black;
}

.navigation li {
	display: none;
}

ul.navigation.responsive li {
    display: block;
}
.navigation li:first-child {
    display: block;
}

nav ul li a:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

nav .active {
	font-style: italic;
	border: 1px solid whitesmoke;
	background-color: #A69888;
}

nav {
	font-variant: small-caps;
	margin: 0 auto;
	display: block;
}

main {
	background-color: white;
	padding: 15px;
}

#contact {
    font-size: 2.5rem;
    text-align: center;
}

.fa {
	padding: 20px;
	font-size: 50px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

.fa-instagram {
	background: #456990;
	color: white;
}

.fa-facebook {
	background: #456990;
	color: white;
}

.fa-youtube {
	background: #456990;
	color: white;
}

.contactUs {
    text-align: center;
}

.contactUs img {
	max-width: 60%;
}

footer {
  color: whitesmoke;
  background-color: #3E000C;
  text-align: center;
  padding: 15px;
}

form {
    font-size: 20px;
}

form fieldset {
    border: 3px double #456990;
    padding: 15px;
}

form legend {
font-weight: bold;
font-size: 20px;
letter-spacing: 1.5px;
padding: 5px;
}

form label.top, form div {
    display: block;
}

form label.top input, form label.top select {
    display: block;
    border: solid 1px #999;
    padding: .75rem;
    width: 80%;
    background-color: #f8f8f8;
}

.indanger {
    line-height: 30px;
}

.surroundDanger .indanger {
    vertical-align: middle;
}

.req {
    color: #3E000C;
}

h2 {
	/*border: 3px double #456990;*/
	text-align: left;
	padding: 15px;
}

.comments {
	max-width: 100%;
}

form input.submitBtn {
	border: none;
	background-color: #A69888;
	color: white;
	border-radius: 5px;
	padding: .75rem;
}

