@media (max-width: 25.8rem) {
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    
    body {
        font-family: sans-serif;
    }
    
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background: #222;
    }
    
    a {
        color: white;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    nav a {
        font-size: 16px;
        padding: 15px 5px;
    }
}